{%extends 'main/base.html'%}

{%block content%}
{{data}}
<section class="vh-100">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>
      <form action="{{url_for('search')}}" method="POST">
        <div class="input-group rounded mb-3">
         <input type="text", name="name">
         <span class="input-group-text border-0 fw-bold" id="search-addon"> <input class="btn btn-info" type="submit" value="Search">
            </span>

        </div>


        </form>


      </div>
    </div>

  </div>
</section>
{%endblock%}