{%extends 'main/base.html'%}
{%block content%}
<section class="vh-100">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <h3 class="mb-4 pb-2 fw-normal">Current weather</h3>
      <form action="/search" method="GET">

        <div class="input-group rounded mb-3">
          {{error}}

         <span class="input-group-text border-0 fw-bold" id="search-addon">
            </span>

        </div>


        </form>
        <div class="card shadow-0 border">
          <div class="card-body p-4">

            <h4 class="mb-1 sfw-normal"> {{data.location.name}}, {{data.location.country}}</h4>
            <p class="mb-2">Current temperature: <strong>{{data.current.temp_c}}°C</strong></p>
            <p>Feels like: <strong>{{data.current.feelslike_c}}°C</strong></p>
            <p>Cloud: <strong>{{data.current.cloud}}°</strong>, Humidity: <strong>{{data.current.humidity}}°</strong></p>

            <div class="d-flex flex-row align-items-center">
              <a href="{{url_for('main')}}"><button type="button" class="btn btn-info">Search new City</button></a>
              <i class="fas fa-cloud fa-3x" style="color: #eee;"></i>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>

{%endblock%}